.banner {
  position: relative;
  width: 100vw;
  height: 70px;

  background-color: var(--accent);
  color: var(--primaryd);
}

.bannerFont {

  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.bannerFont > *{
    display: inline;
}

.bannerFont > h3 {
  text-wrap: nowrap;
  margin: 0px 50px;

  font-size: 1.4em;
  font-weight: 700;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--primary);
  z-index: -1;

  width: 120%;
  height: inherit;

  transform: rotate(-1.5deg) translateX(-20px) translateY(-3px);
}


@media only screen and (max-width: 992px){

  .banner{
    overflow-x: hidden;
  }

}