.skills{
    margin-top: -1px;
    background-color: var(--white);
    font-family: 'Cabin';
    padding: 50px 4vw 100px 4vw;
}

.skills > p{
    font-size: 1.5em;
}
.skills > h1{
    font-size: 4em;
}

.skillSelector{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px 50px;
    margin-top: 30px;
}

.skillSelector > h4{
    cursor: pointer;
    transition-duration: 200ms;
}

.skillSelector > h4:hover{
    color: var(--primary);
}

.skillSelector:hover > h4:not(:hover){
    filter: opacity(50%);
}

.skillSection{
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 50px 0px;

    align-items: center;
    justify-items: center;
}

.skill{
    height: 90px;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}