.subhead{

    position: relative;
    display: flex;
    align-items: center;

    padding-left: 30px;

}

.subhead::before{

    content: '';
    position: absolute;
    top: 50%;
    left: 0;

    transform: translateY(-50%);

    height: 4px;
    width: 20px;
    background-color: var(--accent);

}

.head{

    font-size: 3em;
    font-weight: 600;
    margin: 10px 0px;

}

.head > em{
    color: var(--accent);
}

.skillmenu{
    display: flex;
    list-style: none;
    justify-content: space-between;

    padding: 20px 0px;
    margin-bottom: 20px;
}

.skillmenu > *{
    cursor: pointer;
}

.skillset{
    display: flex;
    justify-content: space-evenly;
    gap: 30px 40px;
    flex-wrap: wrap;

    margin-bottom: 50px;
}

.skill{
    border-radius: 20px;
    height: 100px;
    transition-duration: 200ms;
}

.fade{
    opacity: 0.1;
}