.eduhead {
    width: 100%;

    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.eduhead>.subhead {
    margin-left: auto;
    margin-right: auto;
}

.educont {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 60px;

    margin-top: 50px;
    margin-bottom: 50px;
}

.edu,
.work {
    width: 80%;
    background-color: var(--dgrey);

    border-radius: 10px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
}

.eduitem {
    padding: 15px;
    padding-left: 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    border-left: 4px solid var(--ldgrey);
    transition-duration: 200ms;
}

.eduitem:hover{
    background-color: var(--ldgrey);
    border-left: 4px solid var(--accent);
}

.eduitem div:nth-of-type(2) {
    text-align: right;
}

.eduitem h4{
    color: var(--lldgrey);
    font-weight: 600;
}

@media only screen and (max-width: 992px) {
    .educont {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .work {
        width: 100%;
    }

    .eduitem{
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        gap: 0px;
    }

    .eduitem div:nth-of-type(2) {
        text-align: left;
        display: flex;
        flex-direction: column-reverse;
    }
}