.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 80vh;
}

.herobg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.herointro {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.herointro>h1 {
  font-weight: 600;
  font-size: 4rem;
}

.herointro>p {
  width: 60ch;
  max-width: 90%;
  color: var(--grey);
}

.hero .btnGroup {
  display: flex;
  gap: 20px;
}

.hero button {
  font-size: 1rem;
  border: 0px solid;
  background-color: var(--black2);
  margin-top: 30px;
  transition-duration: 200ms;

  padding: 20px 40px;
  border-radius: 15px;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
  overflow: hidden;

}

.hero button:hover {
  scale: 1.09;
}

@media only screen and (max-width: 992px) {
  .hero {
    display: flex;
    flex-direction: column-reverse;
  }

  .hero button{
    padding: 15px 35px;
  }

  .herointro {
    width: 100%;
  }

  .herointro>h1 {
    font-weight: 600;
    font-size: 3rem;
  }
}