.portfolio{

    background-color: var(--whited);

}

.projecthead{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projects{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    gap: 50px 0px;
    padding: 50px 0px;

}

.projects > .col{
    flex-basis: calc(50% - 2vw);
    display: flex;
    flex-direction: column;

    gap: 30px 0px;
}

.project{

    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border: 1px solid var(--whitedd);
    padding: 15px;
    border-radius: 13px;

    transition-duration: 300ms;
    cursor: pointer;

    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);

}

.project:hover{
    scale: 1.02;
}

.project > .image{

    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 100%;
    /* height: 300px; */
    overflow: hidden;
    
}

.project > .image > img{
    width: 100%;
    flex: 1;
    object-fit: cover;
    border-radius: 8px;
}


.project > .title{

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 10px 0px;
    padding-top: 20px;

}

.project > p{

    color: var(--gray);

}

.title > .flex{

    gap: 10px;

}

.title > .flex > *{
    cursor: pointer;
    transition-duration: 100ms;
}

.title > .flex > *:hover:nth-of-type(1){
    color: var(--orange);
}

.title > .flex > *:hover:nth-of-type(2){
    color: var(--blue)
}

.projects > button{
    display: none;
}

@media only screen and (max-width: 992px){

    .projecthead > button{
        display: none;
    }

    .projects{
        flex-wrap: wrap;
    }

    .projects > button{
        display: flex;
        margin-left: auto;
    }

    .projects > .col{

        flex: 100%;

    }

}