.projecthead{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projects{

    display: flex;
    justify-content: space-between;

    gap: 50px 0px;
    padding: 50px 0px;

}

.projects > .col{
    width: calc(50% - 2vw);
    display: flex;
    flex-direction: column;

    gap: 30px 0px;
}

.project{

    display: flex;
    flex-direction: column;
    background-color: var(--dgrey);
    padding: min(3vw, 20px);
    border-radius: 13px;

    transition-duration: 200ms;

}

.project:hover{
    box-shadow: 0px 0px 15px 5px rgba(0, 255, 200, 0.1);
}

.project > .image{

    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    width: 100%;
    overflow: hidden;
    
}

.project > .image > img{
    width: 45%;
    flex-grow: 1;
    object-fit: cover;
    border-radius: 8px;
}


.project > .title{

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 20px 0px;
    padding-top: 20px;

}

.project > p{
    color: var(--grey);
}

.project .tags{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 30px;
}

.tag{
    background-color: var(--ldgrey);
    color: var(--white);
    font-weight: 600;
    font-size: 0.8rem;
    border-radius: 6px;
    padding: 12px 20px;

            flex-grow: 1;
        text-align: center;
}

.title > .flex{
    gap: 10px;
}

.title > .flex > *{
    font-size: 1.5rem;
    cursor: pointer;
    transition-duration: 100ms;
}

.title > .flex > *:hover:nth-of-type(1){
    color: var(--accentd);
}

.title > .flex > *:hover:nth-of-type(2){
    color: var(--accentd)
}

.projects > button{
    display: none;
}

@media only screen and (max-width: 992px){

    .projecthead button{
        display: none;
    }

    .projects{
        flex-wrap: wrap;
        gap: 30px 0px;
    }

    .projects > button{
        justify-content: center;
        display: flex;
        flex-grow: 1;
    }

    .projects > .col{
        flex: 100%;
    }

    .tag{
        flex-grow: 1;
        text-align: center;
    }

}